<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Proyecto Paddle</title>
</head>

<body>
	<h1>Proyecto Paddle</h1>
	<h3>Crear entrenamiento</h3>
	
	<form action="#" th:action="@{/create-training}" th:object="${trainingCreationWrapper}" method="post">
	
		<label for="startDate">Fecha de comienzo:</label>
		<input type="datetime-local" placeholder="2016-8-16T15:25:33" id="startDate" name="startDate" th:value="*{startDate}" />
		
		<label for="endDate">Fecha de fin:</label>
		<input type="datetime-local" placeholder="2016-12-16T15:25:33" id="endDate" name="endDate" th:value="*{endDate}" />
		
		<label for="startDate">Nº de Pista:</label>
		<input type="number" id="courtId" name="courtId" th:value="*{courtId}" />
		
		<input type="submit"/>
	</form>
	<p>
		<a th:href="@{/home}">Volver a home</a>
	</p>

</body>
</html>